:root {
  --headerBg: #f6f6f7;
  --fontDarker: #222222;
  --fontLighter: #888888;
  --required: #c90000;
  --borderLight: #cccccc;
  --borderDark: #222222;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  width: 60%;
  margin: 2rem 0 2rem 25%;
  align-items: flex-start;
  justify-content: space-around;
}
.product-img {
  height: 85vh;
  margin-right: 10rem;
  margin-bottom: 1rem;
}
.product-info {
  min-width: 55%;
}
.product-title {
  font-weight: 400;
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
}
.product-price {
  font-weight: 700;
  margin: 0 0 1rem 0;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--borderLight);
  border-top: 1px solid var(--borderLight);
  font-size: 1rem;
}
.product-desc {
  color: var(--fontLighter);
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  font-weight: 600;
}
.product-size {
  color: var(--fontLighter);
  font-weight: 700;
  font-size: 0.75rem;
}
.size-container {
  display: flex;
  align-items: center;
}
.size {
  margin: 0 0.5rem;
  font-weight: 600;
  font-size: 0.85rem;
}
.required {
  color: var(--required);
}
.product-sizeOpt {
  margin: 1.5rem 0;
}
.product-option {
  border: 2px solid var(--borderLight);
  color: var(--fontLighter);
  padding: 0.6rem 1rem;
  margin: 1rem 0.5rem 1rem 0;
  cursor: pointer;
}
.product-option:active {
  border: 2px solid var(--borderDark);
  color: var(--fontDarker);
}

.cart-btn {
  padding: 0.5rem 1.5rem;
  border: 3px solid var(--borderDark);
  color: none;
  font: uppercase;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}
.cart-btn:hover {
  background-color: var(--borderDark);
  color: white;
}

@media screen and (max-width: 768px) {
  main {
    width: 90%;
    margin: 2rem auto;
    flex-direction: column;
    align-items: center;
  }
  .product-info {
    min-width: 0;
  }
  .product-img {
    width: 100%;
    height: auto;
    margin: 0 0 1rem 0;
  }
}
@media screen and (max-width: 1200px) and (min-width: 769px) {
  .product-img {
    height: 75vh;
    margin-right: 4rem;
    margin-bottom: 1rem;
  }
}
